{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "semi": ["error", "always"],
    "indent": "off",
    "no-multi-spaces": "error",
    "no-irregular-whitespace": "error",
    "no-trailing-spaces": "error",
    "no-tabs": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "no-unused-vars": ["warn", "all"],
    "eol-last": ["error", "always"],
    "react/prop-types": 0
  }
}
